.container{
    width: 100%;
    box-sizing: border-box;
    background-size: 8px;
    -webkit-background-size: 8px;
    background-color: #1A1A1A;
    background: linear-gradient(0deg, #000000 30.16%, rgba(0, 0, 0, 0) 85.44%), url(/public/image/muiContainer/background_dot_dark.f64be998.png) #202020;
}

.contentContainer{
    padding: 20px 30px;
    height: auto;
}

.titleSection{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0rem;
    line-height: 1.7600000000000002rem;
    padding: 0 0 20px 0;
}

.newsContainer{
    display: flex;
    gap: 20px;
    width: 98%;
    margin: 0 auto;
}

@media (max-width : 1024px){
    .newsContainer{
        display: grid;
    }
}

@media (max-width : 450px){
    .contentContainer{
        padding: 20px 0;
    }
    .titleSection{
        padding: 5px 10px;
    }
}