.container{
    width: 58%;
    height: 450px;
}

.imageBox{
    width: 98%;
    height: 85%;
    border-radius: 20px;
    background-color: white;
}

.titleNews{
    color: white;
    font-size: 25px;
}