.container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,298px);
    width: 99%;
    height: 220px;
    overflow: hidden;
}

@media (max-width : 450px){
    .container{
        grid-template-columns: repeat(4,350px);
        height: 280px;
        box-sizing: border-box;
        padding: 0 10px;
    }
}