*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* header */

.headerContainer{
    position: relative;
    z-index: 50;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: black;
}

#logoHome{
    color: black;
}

.contentContainer{
    display: flex;
    gap: 40px;
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}

.iconbox{
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.openMenuBtn{
    display: block;
}
.closeMenuBtn{
    display: none;
}

.imagebox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    background-color: white;
}

.listboxHeader{
    width: 100%;
    align-content: center;
}

.listboxHeader > ul{
    display: flex;
    gap: 30px;
    color: white;
}

.listboxHeader > ul > li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #484848;
}

@media (max-width : 450px){
    .contentContainer{
        justify-content: space-between;
    }
    .listboxHeader{
        display: none;
    }
    .iconbox{
        display: flex;
    }
}


/* main */

.mainContainer{
    width: 100%;
    height: auto;
    color: white;
    padding: 100px 0 40px 0;
    background-color: rgba(0, 0, 0, 0.914);
}

.imgaebox{
    width: 96%;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: orange;
}
.titleText{
    padding: 0 40px;
}
.contentText{
    width: 94%;
    text-align: justify;
    margin: 10px auto;
}


/* footer */

.footerContainer{
    display: grid;
    height: 100vh;
    grid-template-rows: 30% 50%;
    background-color: black;
}

.logobox{
    display: grid;
    align-items: end;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bolder;
    width: 140px;
    height: 70px;
    background-color: white;
}


.listbox{
    display: grid;
    color: white;
    align-items: end;
}

.listbox > ul{
    display: flex;
    gap: 10px;
    list-style: none;
}

@media (min-width : 450px) {
    .listbox{  
        justify-content: center;
    }
}

@media (max-width : 450px){
    .listbox{  
        justify-items: center;
    }
    .listbox > ul{
        display: grid;
        width: 80%;
        font-size: 25px;
        text-align: center;
    }
    .customeListStyle{
        display: none;
    }
}