.container{
    width: 100%;
    height: 190px;
}

.imagebox{
    width: 100%;
    height: 75%;
    border-radius: 10px;
    background-color: white;
}

.title{
    color: white;
    margin: 6px 15px 0 0;
}