.container{
    width: 100%;
    height: 280px;
}

.imagebox{
    width: 100%;
    height: 75%;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
}

.imageCover{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.imagebox:hover{
    cursor: pointer;
}
.imagebox:hover .imageCover{
    transform: scale(1.1);
}

.title{
    color: white;
    margin: 6px 15px 0 0;
}

@media (max-width : 850px) {
    .container{
        margin-bottom: 50px;
    }
}