.container{
    display: grid;
    height: 100vh;
    grid-template-rows: 30% 50%;
}

.logobox{
    display: grid;
    align-items: end;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bolder;
    width: 140px;
    height: 70px;
    background-color: white;
}


.listbox{
    display: grid;
    color: white;
    align-items: end;
    justify-content: center;
}

.listbox > ul{
    display: flex;
    gap: 10px;
    list-style: none;
}