.container{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(2,48%);
    grid-template-columns: repeat(2,48%);
    width: 44%;
    height: 85%;
}

@media (max-width : 1024px){
    .container{
        width: 100%;
    }
}

@media (max-width : 450px){
    .container{
        justify-content: center;
        gap: 70px;
        grid-template-rows: repeat(4,15%);
        grid-template-columns: repeat(1,96%);
    }
}